@model IEnumerable<ContosoUniversity.Models.Course>

@{
    ViewBag.Title = "Courses";
}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">课程体系</h2>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
	 <div class="row">
            <div class="col-lg-offset-1 col-lg-2">
                <img src="~/img/icoding/logoList_0000_scratch.png" alt="">
            </div>
			<div class="col-lg-offset-2 col-lg-2">
                <img src="~/img/icoding/logoList_0001_arduino.png" alt="">
            </div>
			<div class="col-lg-offset-2 col-lg-2">
                <img src="~/img/icoding/logoList_0002_raspberryPi.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="aligncenter"><span class="clear spacer_responsive_hide_mobile " style="height:13px;display:block;">
                    </span>icoding Academy【编程学园】团队从2014年开始进行STEM教育本土化的推广与实践，结合国际STEM发展及本土情况设计出一套以T（技术）为驱动，将校本课程与STEM教育结合的教学体系。该体系分为L(Learning)、T（Training）、M（Mentoring）三个阶段覆盖从小学、初中、高中整个学习阶段。
                 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="textbox clour1 animated">
                    <h3>L(Learning)</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vest sit amet, consec ibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="textbox clour2 animated">
                    <h3>T（Training）</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vest sit amet, consec ibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="textbox clour3 animated">
                    <h3>M（Mentoring）</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vest sit amet, consec ibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta.</p>
                </div>
            </div>
        </div>

            <div class="row">
                <div class="col-md-4 md-margin-bottom-40  bounceInRight animated">
                    <img class="img-responsive" src="~/img/service1.jpg" />
                    <h3>Web Development</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus temporibus perferendis nesciunt quam repellendus nulla nemo ipsum odit corrupti consequuntur possimus</p>
                </div>
                <div class="col-md-4   bounceInUp animated">
                    <img class="img-responsive" src="~/img/service2.jpg" />
                    <h3>Mobile Development</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus temporibus perferendis nesciunt quam repellendus nulla nemo ipsum odit corrupti consequuntur possimus</p>
                </div>
                <div class="col-md-4 md-margin-bottom-40   bounceInLeft animated">
                    <img class="img-responsive" src="~/img/service3.jpg" />
                    <h3>Responsive Design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus temporibus perferendis nesciunt quam repellendus nulla nemo ipsum odit corrupti consequuntur possimus</p>
                </div>
            </div>


        </div>


    </section>
            <script>
                $(active(1));
            </script>

