@model IEnumerable<ContosoUniversity.ViewModels.EnrollmentDateGroup>

@{
    ViewBag.Title = "Student Body Statistics";
}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">了解我们</h2>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">

        <div class="about">

            <div class="row">
                <div class="col-md-12">
                    <div class="about-logo">
                        <h3>We are awesome <span class="color">我们的团队</span></h3>
                        <p>团队成员主要来自于中英两国，团队成员在不同文化中交流碰撞，用国际化的视野设计产品，将先进的理念
与本土化实施紧密融合，将STEM教育精髓深深浸入整个产品设计研发中。
</p>
                        
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-6">
                    <img src="~/img/icoding/stem.jpg" alt="">
                    <div class="space"></div>
                </div>
                <div class="col-md-6">
                    <p>
                        我们的宗旨：
                        快乐学习：编个游戏就可以将数学、物理、英语等等知识进行整合，在创作中学习，在应用中学习，在玩中学习。
                        全球视野：编写的游戏可以和全世界分享，同时可以学习全世界的作品。在学习中交流，在交流中学习，从而培养全球视野。
                        掌控未来：未来社会是一个人工智能高度发展，机器人横行的时代，计算机素养将是未来重要技能
                       
                    </p>
                           <p> 因材施教：5人小班教学，个性化针对性指导。</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Lorem ipsum enimdolor sit amet</li>
                        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Explicabo deleniti neque aliquid</li>
                        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Consectetur adipisicing elit</li>
                        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Lorem ipsum dolor sit amet</li>
                        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Quo issimos molest quibusdam temporibus</li>
                    </ul>
                </div>
            </div>
            <br />
            <hr>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <!-- Heading and para -->
                    <div class="block-heading-two">
                        <h3><span>为什么要选择我们？</span></h3>
                    </div>
                    <p>1、团队成员有很深的教育教学背景，深谙教育理念与精髓<br />
2、团队成员有很深的技术背景，团队成员都是各自领域的优秀人才<br />
3、团队成员有很国际化的视野，将来孩子的面对竞争一定是全球化的竞争。<br />
                        我们用专家级的技术用专业的态度专心做STEM教育！
</p>
                </div>
                <div class="col-md-4">
                    <div class="block-heading-two">
                        <h3><span>支撑体系</span></h3>
                    </div>
                    <!-- Accordion starts -->
                    <div class="panel-group" id="accordion-alt3">
                        <!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
                        <div class="panel">
                            <!-- Panel heading -->
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3">
                                        <i class="fa fa-angle-right"></i> Accordion Heading Text Item # 1
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne-alt3" class="panel-collapse collapse">
                                <!-- Panel body -->
                                <div class="panel-body">
                                    Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3">
                                        <i class="fa fa-angle-right"></i> Accordion Heading Text Item # 2
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo-alt3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
                                        <i class="fa fa-angle-right"></i> Accordion Heading Text Item # 3
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree-alt3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseFour-alt3">
                                        <i class="fa fa-angle-right"></i> Accordion Heading Text Item # 4
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour-alt3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion ends -->

                </div>

                <div class="col-md-4">
                    <div class="block-heading-two">
                        <h3><span>我们的优势</span></h3>
                    </div>
                    <h6>教育</h6>
                    <div class="progress pb-sm">
                        <!-- White color (progress-bar-white) -->
                        <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            <span class="sr-only">80% Complete (success)</span>
                        </div>
                    </div>
                    <h6>设计</h6>
                    <div class="progress pb-sm">
                        <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                            <span class="sr-only">60% Complete (success)</span>
                        </div>
                    </div>
                    <h6>团队</h6>
                    <div class="progress pb-sm">
                        <div class="progress-bar progress-bar-lblue" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            <span class="sr-only">80% Complete (success)</span>
                        </div>
                    </div>
                    <h6>开发</h6>
                    <div class="progress pb-sm">
                        <div class="progress-bar progress-bar-yellow" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                            <span class="sr-only">60% Complete (success)</span>
                        </div>
                    </div>
                </div>

            </div>


            <hr>
            <br>
            <!-- Our Team starts -->
            <!-- Heading -->
            <div class="block-heading-six">
                <h3 class="bg-color">我们的团队</h3>
            </div>
            <br>

            <!-- Our team starts -->

            <div class="team-six">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <!-- Team Member -->
                        <div class="team-member">
                            <!-- Image -->
                            <img class="img-responsive" src="~/img/tom.jpg" alt="">
                     
                            <!-- Name -->
                            <h4>TOM </h4>
                            <span class="deg">课程规划师及顾问</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- Team Member -->
                        <div class="team-member">
                            <!-- Image -->
                            <img class="img-responsive" src="~/img/Allen.jpg" alt="">
                            <!-- Name -->
                            <h4>Allen </h4>
                            <span class="deg">K12 coding技术研发</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- Team Member -->
                        <div class="team-member">
                            <!-- Image -->
                            <img class="img-responsive" src="~/img/Cathy.jpg" alt="">
                            <!-- Name -->
                            <h4>Cathy </h4>
                            <span class="deg">课程艺术指导</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- Team Member -->
                        <div class="team-member">
                            <!-- Image -->
                            <img class="img-responsive" src="~/img/Daniel.jpg" alt="">
                            <!-- Name -->
                            <h4>Daniel </h4>
                            <span class="deg">技术与教材研发与课程实施</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Our team ends -->


        </div>

    </div>
</section>


<script>
    $(active(3));
</script>