@model IEnumerable<ContosoUniversity.ViewModels.EnrollmentDateGroup>

@{
    ViewBag.Title = "Student Body Statistics";
}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">

        <div class="about">

            <div class="row">
                <div class="col-md-12">
                    <div class="about-logo">
                        <h3> <span class="color">我们的团队</span></h3>
                        <p>团队成员主要来自于中英两国，团队成员在不同文化中交流碰撞，用国际化的视野设计产品，将先进的理念
与本土化实施紧密融合，将STEM教育精髓深深浸入整个产品设计研发中。
</p>
                        
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-6">
                    <img src="~/img/icoding/stem.jpg" alt="">
                    <div class="space"></div>
                </div>
                <div class="col-md-6">
                    <p>
                        <P>我们的宗旨：</P>
                        <P>快乐学习：编个游戏就可以将数学、物理、英语等等知识进行整合，在创作中学习，在应用中学习，在玩中学习。</p>
                        <p> 因材施教：小班教学，个性化针对性指导。</p>
                        <p>全球视野：作品可以和全世界分享，同时可以学习全世界优秀的作品。在学习中交流，在交流中学习，从而培养全球视野</p>
                        <p>掌控未来：未来社会是一个人工智能高度发展，机器人横行的时代，计算机素养将是未来重要技能</p>
                    </p>
                        
       
                </div>
            </div>
            <br />
            <hr>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <!-- Heading and para -->
                    <div class="block-heading-two">
                        <h3><span>为什么要选择我们？</span></h3>
                    </div>
                    <p>1、团队成员有很深的教育教学背景，深谙教育理念与精髓<br />
2、团队成员有很深的技术背景，团队成员都是各自领域的优秀人才<br />
3、团队成员有很国际化的视野，将来孩子的面对竞争一定是全球化的竞争。<br />
                        我们用专家级的技术用专业的态度专心做STEM教育！
</p>
                </div>
                <div class="col-md-4">
                    <div class="block-heading-two">
                        <h3><span>支撑体系</span></h3>
                    </div>
                    <!-- Accordion starts -->
                    <div class="panel-group" id="accordion-alt3">
                        <!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
                        <div class="panel">
                            <!-- Panel heading -->
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3">
                                        <i class="fa fa-angle-right"></i>STEM教育理念
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne-alt3" class="panel-collapse collapse">
                                <!-- Panel body -->
                                <div class="panel-body">
                                   STEM教育本质是跨学科系统学习的教学体系，绝不是依赖某个设备与玩具的简单碎片化的构建。一定要用开放的技术，开源的硬件，开阔的视野进行进行学科系统的整合，让学生在动手解决问题
                                    中学习，提高学生知识应用能力、激发学生学习兴趣、提升学生创造与创新能力、系统整合能力以及控制智能设备能力。
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3">
                                        <i class="fa fa-angle-right"></i>构建主义教育理念
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo-alt3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    将学习的实践定位为“创造世界”（认知性、文化性实践）、探索自我（伦理性、存在性实践）和结交伙伴（社会性、政治性实践）相互媒介三位一体的实践。这种实践借助的工具就是“屏幕”，通过各种“屏幕”介质，让学习者在自己的体验与经验中学习，从而构建自己对世界、自己、共同体的认识，让每个学习者成为自己，提升学力能力，从而更好地适应时代的发展趋势
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
                                        <i class="fa fa-angle-right"></i> 人本主义教育理念
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree-alt3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    每一个人都是独一无二的，尊重每个人的价值，肯定每个人的价值，帮助每个人做最好的自己。
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseFour-alt3">
                                        <i class="fa fa-angle-right"></i>学习共同体
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour-alt3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    课堂以学习共同体进行学习组织，细化每节课程任务，将任务分解与分配。让学习者在学习过程中进行沟通与连接，让学习者在同伴的交流、协作中进行学习
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion ends -->

                </div>

                <div class="col-md-4">
                    <div class="block-heading-two">
                        <h3><span>我们的优势</span></h3>
                    </div>
                    <h6>教育</h6>
                    <div class="progress pb-sm">
                        <!-- White color (progress-bar-white) -->
                        <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            <span class="sr-only">80% Complete (success)</span>
                        </div>
                    </div>
                    <h6>设计</h6>
                    <div class="progress pb-sm">
                        <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                            <span class="sr-only">60% Complete (success)</span>
                        </div>
                    </div>
                    <h6>团队</h6>
                    <div class="progress pb-sm">
                        <div class="progress-bar progress-bar-lblue" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            <span class="sr-only">80% Complete (success)</span>
                        </div>
                    </div>
                    <h6>开发</h6>
                    <div class="progress pb-sm">
                        <div class="progress-bar progress-bar-yellow" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                            <span class="sr-only">60% Complete (success)</span>
                        </div>
                    </div>
                </div>

            </div>


            <hr>
            <br>
            <!-- Our Team starts -->
            <!-- Heading -->
            <div class="block-heading-six">
                <h3 class="bg-color">我们的团队</h3>
            </div>
            <br>

            <!-- Our team starts -->

            <div class="team-six">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <!-- Team Member -->
                        <div class="team-member">
                            <!-- Image -->
                            <img class="img-responsive" src="~/img/tom.jpg" alt="">
                     
                            <!-- Name -->
                            <h4>TOM </h4>
                            <span class="deg">课程规划师及顾问</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- Team Member -->
                        <div class="team-member">
                            <!-- Image -->
                            <img class="img-responsive" src="~/img/Allen.jpg" alt="">
                            <!-- Name -->
                            <h4>Allen </h4>
                            <span class="deg">K12 coding技术研发</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- Team Member -->
                        <div class="team-member">
                            <!-- Image -->
                            <img class="img-responsive" src="~/img/Cathy.jpg" alt="">
                            <!-- Name -->
                            <h4>Cathy </h4>
                            <span class="deg">课程艺术指导</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- Team Member -->
                        <div class="team-member">
                            <!-- Image -->
                            <img class="img-responsive" src="~/img/Daniel.jpg" alt="">
                            <!-- Name -->
                            <h4>Daniel </h4>
                            <span class="deg">技术与教材研发与课程实施</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Our team ends -->


        </div>

    </div>
</section>


<script>
    $(active(3));
</script>